/* Place custom css here. */
/* aside {
    max-height: 80px;
    position: static;
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    line-height: 1.6;
    text-decoration: none;
}


@media (min-width: 1024px) {

    aside {
        max-height: 80px;
        position: fixed;
        top: 100px;
        left: 0px;
        font-weight: 600;
        font-size: 1.25em;
        margin-top: 1.6em;
        margin-bottom: 0.6em;
        line-height: 1.6;
        text-decoration: none;
    }
} */